.titulo{
  color: #BA68C8;
  font-size: 3vw;
  font-family: fantasy;
}

#titulo2{
  color: blueviolet;  
  font-size: 4vw;
  font-family: 'Franklin Gothic Medium';
}

h2{

    color: rgb(6, 198, 64);  
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium';

}

